doctype html
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="/css/styles.css")
  body
    header
      h1 Blog with Express
      nav.navbar
        ul
          li
            a(href="/") Home
          li
            a(href="/create") Create Post
          li
            a(href="/stats") Stats
          li
            a(href="/search") Search
          li
            a(href="/user/logout") Logout
    main
      h1= title
      block content

