extends splash 

block content
    form(action='/login', method="POST")
        input(type="text", name="Username", placeholder=username, required)
        input(type="text", name="Password", placeholder=password, required)
        button(type="submit") Login
    a(href="/register") Register 